*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
}
.menu_bg{
    
    background-color: #1C1E53;
    padding: 30px 0;
}
.menu_bg ul li a{
    color: #ffff !important;
    font-family: "Poppins", serif;
    padding: 0px 20px !important;
}

.menu_bg ul li:last-child a{
    border: 2px solid #fff;
    padding: 10px 20px !important;
    border-radius: 30px;
    
}